@charset "utf-8";

#loginHeader {
    height: 22px;
    margin: 0px 10px 0px 10px;
    padding: 2px 0px 0px 5px;
    font-weight: bold;
}

#loginForm {
    padding: 19px;
}

#loginForm p { 
    position:relative;
}

#loginForm label  {
    margin: 2px 0px 0px 10px;
    position:absolute; 
    top:0; 
    left:0;
}

#infield .input-xlarge{
    width: 195px;
}

.loginSection {
    width: 255px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#loader {
    text-align: center;
    margin: 20px;
}