@charset "utf-8";

/* START COLOR CONFIGURATION */
body { background-color: #E6E6E6; color: #333333; }

/* Link */
a:active, a:focus, a:link { color: #3D6699; }

/* Submission tabs, logout, logged in as */
.box { background-color: #006699; color: #FFFFFF; }
.box:active, .box:hover { background-color: #009900; color: #FFFFFF; }
.boxActive { background-color: #009900; color: #FFFFFF; }

/* Header */
.header { background-color: #009900; color: #FFFFFF; }

/* Description  */
.subHeader { background-color: #99CC99; color: #FFFFFF; }

/* Breadcrumbs */
#catalogBreadCrumbs { background-color: #99CC99; color: #FFFFFF; }
#catalogBreadCrumbs .breadCrumb { background-color: #009900; color: #FFFFFF; }

/* Catalog Navigation */
#categoriesNav .navigation,
#templatesNav .navigation {
    color: #000000;
    background-color: #FFFFFF;
}

#categoriesNav .navigation:active,
#categoriesNav .navigation:hover,
#templatesNav .navigation:active,
#templatesNav .navigation:hover {
    color: #009900;
    background-color: #FFFFFF;
}

/* Search */
#searchResults .highlighted { background: yellow; color: #000000; }
#searchResults .templateName a { color: #FFFFFF; }
#searchSpinner { color: #3B6E9C; }
#searchResults .templateDescription { color: #616161; }

/* A-Z */
.ln-letters a { color: #006699; }
.ln-letters a:hover, .ln-letters a.ln-selected { background-color:#eaeaea; }
.ln-letters a.ln-disabled { color:#ccc; }
.ln-letter-count { color: #009999; }
.ln-no-match { color: red; }


/* Submissions */
table.kd-table th, table.kd-table td { border-color: #7F7F7F; }
table.kd-table th {
    background: #F4F5F5; /* Old browsers */
    background: -moz-linear-gradient(top,  #F4F5F5 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F5F5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #F4F5F5 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #F4F5F5 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #F4F5F5 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #F4F5F5 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F5F5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    color: #000000;
}
table.kd-table th:hover { background-color: #A0B9CE; }
table.kd-table tr { background: #E3F0E3; }
table.kd-table tr.kd-odd { background: #FFFFFF; }

table.kd-table tr.kd-even td.kd-cell-sorting-descending,
table.kd-table tr.kd-even td.kd-cell-sorting-ascending { background: #C4E1C4; }



table.kd-table tr.kd-odd td.kd-cell-sorting-descending,
table.kd-table tr.kd-odd td.kd-cell-sorting-ascending { background: #E3F0E3; }

table.kd-table tr.kd-odd td.kd-highlight,
table.kd-table tr.kd-even td.kd-highlight { background: #99CC99; color: #000000; }

table.kd-table th.kd-header-sorting-selected {
    background: #D6D6D7; /* Old browsers */
    background: -moz-linear-gradient(top,  #D6D6D7 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D6D6D7), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #D6D6D7 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #D6D6D7 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #D6D6D7 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #D6D6D7 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D6D6D7', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    color: #000000;
}

/* Submission controls */
.button { background-color: #C6C6C6; border-color: #A1A1A1; }
.button:hover { background-color: #D2D2D2; }
.button img { background-color: #6D6E71; display: block; }
.button img:hover { background-color: #555656; }


/* Submission details */
.submissionDetails .tasks .task.odd { background-color: #E9E9E9; }
.submissionDetails .tasks .task.even { background-color: #F9F9F9; }
.submissionDetails .header { background-color: #009900; color: white; }
.submissionDetails .tasks .task { border-color: #C8C8C8; }
.submissionDetails a {
    color: white;
}

/* END COLOR CONFIGURATION */

/* Gradient styles */
.gradient {
    background: #F5F5F5; /* Old browsers */
    background: -moz-linear-gradient(top,  #F5F5F5 0%, #ECECEC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#ECECEC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #F5F5F5 0%,#ECECEC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #F5F5F5 0%,#ECECEC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #F5F5F5 0%,#ECECEC 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #F5F5F5 0%,#ECECEC 100%); /* W3C */ 
}

/* Borders */
.border { border-style: solid; border-width: 1px; border-color: #e3e3e3; }
.borderRight { border-right-style: solid; border-right-width: 1px; border-right-color: #e3e3e3; }
.borderLeft { border-left-style: solid; border-left-width: 1px; border-left-color: #e3e3e3; }
.borderTop { border-top-style: solid; border-top-width: 1px; border-top-color: #e3e3e3; }
.borderBottom { border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #e3e3e3; }

/* Rounded corners */
.rounded {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

/* Box shadow */
.boxShadow {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Alerts */
.alert-warning {
    background-color: #FCF8E3;
    border-color: #FBEED5;
    color: #C09853;
}

.alert-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
}

.alert-success {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.alert-info {
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.alert {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
}

.alert .close {
    line-height: 20px;
    position: relative;
    right: -21px;
    top: -2px;
}

.alert .close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.alert .close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/**
 * Button Styles
 */
.templateButton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 2px 12px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #6D6E71;
    border: 1px solid;
    border-color: #6d6d71 #6d6d71 #48474a;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/**
 * Styles for button links that are not consistent with input submit
 */
.templateButton:link {
    padding: 2px 10px;
    text-decoration: none;
    color: #FFFFFF;
}

/**
 * focus, active, hover
 */
.templateButton:focus,
.templateButton:active,
.templateButton:hover {
    color: #FFFFFF;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background-color: #555656;
    background-image: none;
}

/**
 * Children
 */
.templateButton:first-child {
    *margin-left: 0;
}

/**
 * Disabled
 */
.templateButton[disabled] {
    color: #000000;
    cursor: not-allowed;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/**
 * Header
 */
.contentHeader .graySpacer {
    height: 10px;
    background-color: #E6E6E6;
}

.contentHeader .logoHeader {
    padding: 5px 0px 5px 10px;
    float: left;
}

.contentHeader .userInfo {
    background-color: #006698;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
}

.contentHeader .userInfo a:link,
.contentHeader .userInfo a:visited {
    color: white;
    text-decoration: none;
}

/**
 * Footer
 */
.contentFooter .footerContainer {
    padding: 20px 0px 20px 0px;
    text-align: center;
}

/**
 * Containers
 */
.headerContainer {
    border-top: 1px solid lightgrey;
}

.container {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid lightgrey;
}

.container, .headerContainer {
    margin: 0 auto;
    width: 1004px;
    background-color: #FFFFFF;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

/**
 * Clearfix
 */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/**
 * Display none
 */
.hidden {
    display: none;
}

/**
 * Default body theme
 */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    background-repeat: repeat-x;
}

/**
 * Default theme form and input control
 */
form {
    margin: 0;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 40px;
    border: 0;
    border-bottom: 1px solid;
}

label,
input,
button,
select,
textarea {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}

input,
button,
select,
textarea {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    display: inline-block;
    height: 14px;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input,
textarea {
    width: 200px;
}

textarea {
    height: auto;
    width: 300px;
}

/**
 * Input color, border, and box shadow default
 */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

/**
 * Input color, border, and box shadow with focus
 */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border-color: rgba(0, 102, 153, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 102, 153, 0.4);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 102, 153, 0.4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 102, 153, 0.4);
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    *margin-top: 0;
    /* IE7 */

    margin-top: 1px \9;
    /* IE8-9 */

    line-height: normal;
    cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

select,
input[type="file"] {
    height: 24px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */

    *margin-top: 4px;
    /* For IE7, add top margin to align select with labels */

    line-height: 30px;
}

select {
    width: 220px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}

select[multiple],
select[size] {
    height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999999;
}

/**
 * Input display styles
 */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #EEEEEE;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
    background-color: transparent;
}

/**
 * Input HTML5 required styles
 */
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}