@charset "utf-8";

/**
 * Catalog Container
 */
#catalogContainer {
    width: 844px;
    margin-left: 0;
    float: left;
    min-height: 1px;
}

/**
 * Preview of templates
 */
#preview {
   width: 563px;
   margin: 22px 0px 0px 10px;
   float: left;
   min-height: 1px;
}

/**
 * Nested Categories Navigation
 */
#nestedNav {
    width: 260px;
    float: left;
    min-height: 1px;
    padding: 15px 0px 0px 0px;
}

#categoriesNavHeader {
    margin: 0px 0px 0px 10px;
}
 
#categoriesNav .category .name {
    padding: 5px 0px 5px 15px; 
    font-weight: bold;
    width: auto;
}

#categoriesNav .category .name:hover {
    cursor: pointer;
    padding: 5px 0 5px 15px;
    width: auto;
}

#categoriesNav .category .arrow {
    float: right;
    margin: 1px 5px 0px 0px;
    position: relative;
}

/**
 * Templates Navigation
 */
#templatesNav .template .name {
    padding: 5px 0px 5px 15px;
    width: auto;
}

#templatesNav .template .name:hover {
    padding: 5px 0 5px 15px;
    cursor: pointer;
    width: auto;
}

/**
 * Bread Crumbs
 */
#catalogBreadCrumbs {
   width: 984px;
   height: 24px;
   margin: 0px 10px 0px 10px
}

#catalogBreadCrumbs .breadCrumb {
    float: left;
    padding: 2px 5px 0px 5px;
    height: 22px;
    font-weight: bold;
    min-width: 20px;
}

#catalogBreadCrumbs .breadCrumb:hover {
    cursor: pointer;
}

#catalogBreadCrumbs .breadCrumbArrow {
    margin: 0px 0px 0px 8px;
    position: relative;
}

/**
 * Submission Navigation
 */
#sideNav {
   float: left;
   width: 160px;
   min-height: 1px;
   margin: 10px 0px 40px 0px;
}

#sideNav .nav {
    padding: 0px 0px 0px 5px;
    margin-top: 30px;
}

#sideNav .nav:hover {
    padding: 0px 0px 0px 5px;
    margin-top: 30px;
    cursor: pointer;
}

/**
 * Search Form
 */
#catalogSearchForm {
    padding: 0 0 0 10px;
}

#catalogSearchForm p { 
    position:relative;
}

#catalogSearchForm label  {
    margin: 2px 0px 0px 10px;
    position:absolute; 
    top:0; 
    left:0;
    font-size: 12px;
}

#catalogSearchForm .input-large{
    width: 105px;
}

#catalogSearchForm #searchButton  {
    background: url("../images/magnify.png") no-repeat scroll 0px 0px transparent;
    border: none;
    cursor: pointer;
    height: 22px;
    letter-spacing: -9999px;
    margin: 0;
    overflow: hidden;
    padding: 0px 0px 5px 0px;
    position: relative;
    text-indent: -9999px;
    width: 22px;
    z-index: 3;
}

/**
 * Search
 */
#searchResults {
    float: left;
    width: 844px;
}

#searchResults .message {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 40px;
}

#searchResults .highlighted {
    padding: 0px 0px 0px 0px;
}

#searchResults .templateName {
    padding: 0px 0px 0px 5px;
}

#searchResults .templateName a {
    font-weight: bold;
}

#searchResults .templates {
}

#searchResults .templates .template {
    margin: 10px 10px 10px 10px;
    padding: 5px;
}

#searchResults .templates .template .attribute {
    margin-bottom: 5px;
    padding-top: 5px;
}

#searchResults .templates .template .attributeName {
    width: 100px;
    padding: 0px 5px
}

#searchResults .templates .template .attributeValues {   
    padding: 0px 5px 0px 5px;
}

#searchResults .templates .template .attributeValues .attributeValue {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}

#searchResults .templates .template .templateDescription {
    margin-bottom: 5px;
    padding: 0px 5px 0px 5px;
}

#searchResults .templates .template .templateName {
    margin-bottom: 5px;
}

#searchLoader {
    float: left;
    width: 844px;
    text-align: center;
}

#searchLoader img {
    margin: 10px 0 10px 0; 
    height: 28px; 
    width: 28px;
}