@charset "utf-8";

/**
 * Search
 */
#searchResults {
    display: none;
    float: left;
    margin: 10px;
    width: 760px;
}

#searchResults .message {
    font-size: 15px;
    line-height: 150px;
    padding: 5px;
}

#searchResults .highlighted {
    padding: 0px 0px 0px 0px;
}

#searchResults .templateName {
    padding: 0px 0px 0px 5px;
}

#searchResults .templateName a {
    font-weight: bold;
}

#searchResults .templates {
    margin-top: 12px;
}

#searchResults .templates .template {
    border: 1px solid;
    margin-bottom: 10px;
    padding: 5px;
}

#searchResults .templates .template .attribute {
    border-top: 1px solid;
    margin-bottom: 5px;
    padding-top: 5px;
}

#searchResults .templates .template .attributeName {
    float: left;
    width: 100px;
}

#searchResults .templates .template .attributeValues {
    margin-left: 110px;
}

#searchResults .templates .template .attributeValues .attributeValue {
    border-right: 2px solid;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}

#searchResults .templates .template .templateDescription {
    margin-bottom: 5px;
}

#searchResults .templates .template .templateName {
    margin-bottom: 5px;
}

#searchSpinner {
    display: none;
    font-size: 19px;
    line-height: 150px;
    margin: 0px 0px 0px 10px;
    float: left;
    width: 770px;
    text-align: center;
}

#searchSpinner img {
    text-align: center;
}