@charset "utf-8";

/**
 * Header
 */
.header {
    padding: 2px 4px 2px 4px;
    font-weight: bold;
}

/**
 * Tabs
 */
#tabs {
    float: left;
    width: 790px;
}
 
/**
 * Catalog Container
 */
#catalogContainer {
    margin-left: 0;
    min-height: 1px;
    padding: 10px 0px 10px 0px;
}

/**
 * Nested Categories Navigation
 */
#nestedNav {
    width: 260px;
    float: left;
    min-height: 1px;
    margin: 10px 0px 0px 0px;
}

#categoriesNavHeader {
    margin: 0px 0px 0px 10px;
}
 
#categoriesNav .category .name {
    padding: 5px 0px 5px 15px; 
    font-weight: bold;
    width: auto;
}

#categoriesNav .category .name:hover {
    cursor: pointer;
    padding: 5px 0 5px 15px;
    width: auto;
}

#categoriesNav .category .arrow {
    float: right;
    margin: 1px 5px 0px 0px;
    position: relative;
}

#nestedNavigationPreview {
    width: 490px;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    float: left;
}

/**
 * Templates navigation
 */
#templatesNav .template .name {
    padding: 5px 0px 5px 15px;
    width: auto;
}

#templatesNav .template .name:hover {
    padding: 5px 0 5px 15px;
    cursor: pointer;
    width: auto;
}

/**
 * Bread Crumbs
 */
#catalogBreadCrumbs {
   height: 24px;
   margin: 0px 10px 0px 10px;
}

#catalogBreadCrumbs .breadCrumb {
    float: left;
    padding: 2px 5px 0px 5px;
    height: 22px;
    font-weight: bold;
    min-width: 20px;
}

#catalogBreadCrumbs .breadCrumb:hover {
    cursor: pointer;
}

#catalogBreadCrumbs .breadCrumbArrow {
    margin: 0px 0px 0px 8px;
    position: relative;
}

/**
 * Side Navigation with search
 */
#sideNav {
   float: left;
   width: 180px;
   min-height: 1px;
   margin: 0px 10px 0px 10px;
}

/**
 * Quick links, contact
 */
#quicklinks, #contact {
    margin: 0px 0px 10px 0px;
    padding: 5px;
}

/**
 * Search Form
 */
#catalogSearchForm {
   margin: 10px 10px 10px 10px;
   padding: 10px 10px 10px 10px;
}

#catalogSearchForm p { 
    position:relative;
    margin: 0;
    padding: 0;
}

#catalogSearchForm label  {
    margin: 2px 0px 0px 10px;
    position:absolute; 
    top:0; 
    left:0;
    font-size: 12px;
}

#catalogSearchForm .input-large{
    width: 140px;
}

#catalogSearchForm #searchButton  {
    background: url("../images/magnify.png") no-repeat scroll 0px 0px transparent;
    border: none;
    cursor: pointer;
    height: 22px;
    letter-spacing: -9999px;
    margin: 0;
    overflow: hidden;
    padding: 0px 0px 5px 0px;
    position: relative;
    text-indent: -9999px;
    width: 22px;
    z-index: 3;
}

/**
 * Alphabetical Navigation
 */
#ServicesAZ {
    min-height: 1px;
    margin: 0;
}

#ServicesAZ #browseAlphabetical {
    margin: 10px 10px 10px 10px;
    padding: 5px;
}

#ServicesAZ #templatesAlphabetical .template {
    padding: 5px 5px 5px 5px;
    margin: 10px;
}

#ServicesAZ #templatesAlphabetical ul, li {
    list-style-type: none;
}

#ServicesAZ .templatesAlphabeticalNav {
    margin: 10px;
}

#ServicesAZ .listNav { 
    margin:0 0 10px; 
}

#ServicesAZ .ln-letters { 
    overflow:hidden; 
}

#ServicesAZ .ln-letters a { 
    font-size:11px; 
    display:block; 
    float:left; 
    padding:2px 4px; 
    border-right:none; 
    text-decoration:none; 
}

#ServicesAZ .ln-letter-count { 
    text-align:center; 
    font-size: 11px; 
    line-height:1; 
    margin-bottom:3px;   
}

#ServicesAZ .ln-no-match {
    float: left;
    margin: 0px 0px -10px 30px;
}

#ServicesAZ #templatesAlphabetical .description {
    padding: 0px 5px 0px 5px;
}

#ServicesAZ #templatesAlphabetical .name {
    margin-bottom: 5px; 
}

/**
 * Submissions nav
 */
#submissionsNavigation .nav {
    float: left;
    min-width: 20px;
    padding: 5px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 12px;
}

#submissionsNavigation .nav:hover {
    cursor: pointer;
}