@charset "utf-8";

/**
 * Search
 */
#searchBack .header {
}

#searchBack .header:hover {
    cursor: pointer;
}

#searchResults {
    display: none;
}

#searchResults .message {
    margin: 0px 0px 10px 20px;
    float: left;
}

#searchResults .highlighted {
    padding: 0px 0px 0px 0px;
}

#searchResults .templateName {
    padding: 0px 0px 0px 5px;
}

#searchResults .templateName a {
    font-weight: bold;
}

#searchResults .templates {
}

#searchResults .templates .template {
    margin: 10px 10px 10px 10px;
    padding: 5px;
}

#searchResults .templates .template .attribute {
    margin-bottom: 5px;
    padding-top: 5px;
}

#searchResults .templates .template .attributeName {
    width: 100px;
    padding: 0px 5px
}

#searchResults .templates .template .attributeValues {   
    padding: 0px 5px 0px 5px;
}

#searchResults .templates .template .attributeValues .attributeValue {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}

#searchResults .templates .template .templateDescription {
    margin-bottom: 5px;
    padding: 0px 5px 0px 5px;
}

#searchResults .templates .template .templateName {
    margin-bottom: 5px;
}

#searchSpinner {
    display: none;
    font-size: 19px;
    line-height: 150px;
    margin: 0px 0px 0px 10px;
    float: left;
    text-align: center;
}

#searchSpinner img {
    text-align: center;
}